# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/contents.xcworkspacedata
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Generated
Coughy.xcodeproj/
